* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.grouping {
    margin-bottom: 30px;
    font-size: 1.3rem;
}
input {
    font-size: 1.3rem;
}
input[type="submit"] {
    margin-bottom: 20px;
}
.container {
    width: 100vw;

    display: flex;
    /* flex-direction: column; */
    /* gap: 50px; */
    justify-content: space-evenly;
}
.note {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}