@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: rgb(176, 176, 176);
    font-family: "poppins", sans-serif;
}

h2 {
    font-weight: 700;
}

form div {
    padding: 0.5rem;
}
input[type = "submit"] {
    padding: 0.4rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.newelement {
    color: black;
    padding: 1rem;
}